* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  button, a {
    cursor: pointer;
  }
  img, video {
    max-width:100%;
    height: auto;
  }
  ul{
    list-style-type: none;
  }
  @font-face {
    font-family: 'Montserrat-SemiBold'; 
    src: url(fonts/Montserrat/static/Montserrat-SemiBold.ttf) format("ttf");
      font-style: normal;
      font-weight: 600;
      font-display:swap;
  }
  @font-face {
    font-family: 'Montserrat-Regular'; 
    src: url(fonts/Montserrat/static/Montserrat-Regular.ttf) format("ttf");
      font-style: normal;
      font-weight: 400;
      font-display:swap;
  }
  @font-face {
    font-family: 'Allura-Regular'; 
    src: url(fonts/Allura/Allura-Regular.ttf) format("ttf");
    font-style: normal;
      font-weight: 400;
      font-display:swap;
  }

  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
    background-color: transparent;
  }
  address {
    font-size:inherit;
    font-style:inherit;
  }
  
  a:visited  {

  }
  a:hover, a:focus {
   
  }
  a:active {
  }
  h2 {
    font-family: 'Montserrat-SemiBold';
        text-transform: uppercase;
        font-size: 24px;
        line-height: 36.48px;
        letter-spacing: calc(24 * 16 / 100 * 1px);
  }
  .content_Allura {
    font-family: 'Montserrat-Regular';
    font-size: 24px;
    line-height: 24px;
    color:#181C29;
    letter-spacing: calc(24 * 5 / 100 * 1px);
    color:#fff
  }
  html {
    height: 100%;
  }
  body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    margin:0 auto;
    max-width: 1440px;
    min-width: 360px; 
    }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    padding-left: 82px;
    padding-right: 82px;
    & .logo{
      color:#000;
      width:141px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat-SemiBold';
      text-transform: uppercase;
      font-size: 12px;
      & img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      }
      
      & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:376px;

        & li {
          min-height: 40px;
          display: flex;
          align-items: center;
          border-radius: 12px;
         
               
          & a {    
            color:#181C29;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat-SemiBold';
            text-transform: uppercase;
            font-size: 12px;
            min-height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 12px;
          }
          & a:hover {
            background-color: rgba(255, 70, 70, 0.1);
            color:#FF4646;
          }
        }
    }
  }
.hero {
  min-height: 524px;
  background-image: url('img/Hero_Section.webp');
  background-repeat: no-repeat;
  padding-top: 60px;
  color:#fff;
  & div {
    max-width:426px;
    min-height: 404px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
      & button {
      width:235px;
      min-height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      color:#fff;
      background-color:#181C29 ;
      font-family: 'Montserrat-SemiBold';
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 20px;
      letter-spacing: calc(12 * 5 / 100 * 1px);
    }
    & h1{
      font-family: 'Montserrat-SemiBold';
      text-transform: uppercase;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: calc(32 * 18 / 100 * 1px);
      text-align: center;
    }
  }
 
}
.about {
  min-height: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/About_Section.webp');
    & .about_container{
      display: flex;
      justify-content: space-between;
      width: 1276px;
      min-height: 528px;
      background-color: #fff;
      border-radius: 20px;
      padding-left: 60px;
    & .about_text {
      width:426px;
      min-height: 328px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap:20px;
      
      & a {
        color:#FF4646;
        
      }
      & h2{
       
        color:#181C29;
        
      }
      & p {
        font-family: 'Montserrat-Regular';
        font-size: 16px;
        line-height: 23.68px;
        color:#181C29;
        letter-spacing: calc(16 * 10 / 100 * 1px);
      }

    }   
    & .about_img{
      width: 638px; 
      min-height: 528px;
      background-image: url('img/santa.webp');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
    }
     
  }
}
.slider {
  min-height: 488px;
  background-image: url('img/Slider_Section.webp');
  display: flex;
  justify-content: center;
  align-items: center;
 
  & .slider_container{
    width: 1276px;
    min-height: 368px;
    position: relative;
    border: 1px solid blue;
    text-align: center;
    & p {
   
      color:#fff;
    }
    & h2 {
      margin-top: 12px;
      color:#fff;
    }
    & .carousel {
      width: 1993px;
      min-height: 200px;
    }
    & ul {
      display: flex;
     gap:20px;
     position: absolute;
     bottom: 0;
     right: 0;
      
      & button{
        width: 56px;
        height: 56px;
        border-radius: 20px;
        background-color: transparent;
        border:1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
          width:12.5px;
          height: 1px;
          background-color: #fff;
          position: relative;
        }
       
        & .arrow_left::before{
          position: absolute;
          content: '';

          top:2.5px;
          left:-1.5px;
          width:8px;
          height: 1px;
          background-color: #fff;
          transform: rotate(45deg);
        }
        & .arrow_left::after{
          position: absolute;
          content: '';

          top:-2.5px;
          left:-1.5px;
          width:8px;
          height: 1px;
          background-color: #fff;
          transform: rotate(-45deg);
        }
        & .arrow_right::before{
          position: absolute;
          content: '';

          top:2.5px;
          right:-1.5px;
          width:8px;
          height: 1px;
          background-color: #fff;
          transform: rotate(-45deg);
        }
        & .arrow_right::after{
          position: absolute;
          content: '';

          top:-2.5px;
          right:-1.5px;
          width:8px;
          height: 1px;
          background-color: #fff;
          transform: rotate(45deg);
        }
    }
    & button:hover{
      background-color: #fff;
    }
    & button:hover span, button:hover span::before, button:hover span::after{
      background-color: #FF4646;
    }   
  }

}
 
